* {
	position:relative;
	margin:0;
	padding:0;
}

html, body {
	width:100%;
	min-height:100%;
	font-family:Roboto;
}

.panel {
	width:50%;
	height:100%;
	overflow:hidden;
	z-index:1;
	background:#2D2D2D;
	border-right:1px solid black;
}

.windows {
	width:100%;
	height:100%;
}

.window {
	width:100%;
	height:calc(100% - 30px);
	color:#c90;
	overflow-x:scroll;
	border:1px solid black;
}

.tabs {
	font-size:14px;
	font-weight:100;
	box-sizing:border-box;
	color:white;
	height:30px;
	margin-top:6px;

	
}

.tab,.tabs {
	float:left;
}

.tab {
	border-radius: 5px 20px 5px 3px;
	padding-right:24px;
	padding-left:18px;
	border:1px solid gray;
	padding-top:6px;
	padding-bottom:2px;
	background:#6D6D6D

}
#modal {
	position:absolute;
	z-index:10;
	background:white;
	width:100%;
	height:calc(100% - 30px);
	top:30px;
}

#header {
	position:absolute;
	height:30px;
	width:100%;
	background:#F7C492;
}

#output {
	position:absolute;
	float:left;
	margin-top:5px;
	margin-left:10px;
	color:#2a2a2a;
	font-weight:300;

}

.minimize {
	float:right;
	height:30px;
	width:40px;
	background-color:rgba(0,0,0,0.1);
	text-align:center;
}

.minimize .bar {
	width:14px;
	height:3px;
	background-color:#FFF;
	float:none;
	display:inline-block;
	margin-top:14px;
	margin-left:2px;
}

#modal-container {
	position:fixed;
	bottom:0px;
	left:calc(50% - 250px);
	width:500px;
	height:400px;
	z-index:2;
	border: 1px solid #7e7e7e;
}

#instructor {
	background:#E45F5F;

}

#student {
	background:#7575EF;
}